 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>

Unlike other writers who often start their writing very early in life,
Darius Susa’s early life was not marked by anything remarkable.
<br><br>
He liked to play with animals and ride on the bike but he never got a medal or anything like that.
To the contrary, his parents thought that he suffered from some sort of autism.
<br><br>
They took him to doctors but none of them thought it was autism.
They thought he’s just gazing too much. He does’t calculate anything like those geniuses,
like in Marathon Man.
<br><br>
Darius Susa’s career as a fiction writer began late in his life owing to several fortuitous incidents.
Perhaps the most defining moment was when he was doing research in the basement of Harvard’s Widener library where he was doing research on ancient manuscripts. It was summer and Darius was enjoying himself in cool, dusty atmosphere of -4 floor. As he was reading, he fell sleep.
In his sleep we was walking in the same library as he across his adviser.
<br><br>
He said: “Hi Prof.”
<br><br>
The professor replied: “Do I know you?”
<br><br>
Darius said: “You do!”
<br><br>
Professor replied: “No.”
<br><br>
Darius woke up from his dream, shocked. He rushed to the professor’s office.
He opened he knocked on the door.
<br><br>
The professor said: “Come in.” Darius walked in.
<br><br>
“Darius, how nice to see you!” The professor said.”
<br><br>
“Then you know me professor?” Darius asked.
<br><br>
Professor answered: “Yes!”
<br><br>
At that moment he knew he had to pursue fiction.
<br><br>
But how? He asked himself?
<br><br>
***
<br><br>
He hired an elite consulting firm (no not McKinsey & Company) but something in that caliber.
His meeting with three top consultants went something like this:
Darius Susa came in and sat at the table.
<br><br>
The three consultants dressed in elegant Armani suits sat on the table inviting Darius to a glass of fresh mineral water.
The younger consultant began:
<br><br>
“Well Dr. Susa. We have done extensive research on your case and have concluded that if you want to successful in this business,
writing fiction that is, you need to do three things.”
<br><br>
“First you need to get a round glasses, similar to one worn by intellectuals.
Second, you must get a French artists hat. This is a must. And third you must wear a beard.”
<br><br>
The younger consultant said and looked at Darius Susa and said:
<br><br>
There is also a fourth point, but we’re not sure.
<br><br>
Let’s say that it will greatly help if you lived for a year or two in a remote Russian city.
We recommend Irkutsk or Samara.
<br>
This last point is not a requirement but will greatly help your case.
<br>
Darius Susa was silent for a along time.
<br>
Consultants looked their watch. They know their time was valuable.
<br>
They had hundreds of other clients to help.
<br>
They we getting nervous when Darius said “yes!” </p>
                </div>
                <div class="col-lg-4">
                    <p></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Go To Blog
                    </a>
                </div>
            </div>
        </div>
    </section>
